In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("./archivos/london_merged.csv")

In [11]:
df["timestamp"] = pd.to_datetime(
    df["timestamp"]
)

In [12]:
#df.drop(["timstamp"], axis = 1, inplace=True)

In [13]:
df.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [14]:
df = pd.read_csv('./archivos/poblacion.csv')
df

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

redimensionar (unpivot) dataframe

In [15]:
df = df.drop(columns=["Country Code","Indicator Name","Indicator Code","2019"])

df = pd.melt(df, id_vars=["Country Name"],
var_name="year", value_name="pob")

df

KeyError: "['Country Code' 'Indicator Name' 'Indicator Code' '2019'] not found in axis"

quitar formato de notaciÃ³n cientifca

In [16]:
pd.options.display.float_format = '{:,.1f}'.format

Transformando columhna en categorica

In [17]:
df["year"] = pd.Categorical(df["year"].apply(str))

In [18]:
df["year"]

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
1035    2018
1036    2018
1037    2018
1038    2018
1039    2018
Name: year, Length: 1040, dtype: category
Categories (4, object): ['2015', '2016', '2017', '2018']

In [19]:
df.dtypes

Country      object
year       category
pop         float64
dtype: object

In [20]:
df

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

creando un filtro

In [21]:
filter = df["Country"].isin(["Chile", "Argentina"])

aplicando filtro

In [22]:
df_sample = df[filter]
df_sample

       Country  year          pop
7    Argentina  2015 43,131,966.0
40       Chile  2015 17,969,353.0
267  Argentina  2016 43,590,368.0
300      Chile  2016 18,209,068.0
527  Argentina  2017 44,044,811.0
560      Chile  2017 18,470,439.0
787  Argentina  2018 44,494,502.0
820      Chile  2018 18,729,160.0

Creando doble indice:

In [23]:
df_sample= df_sample.set_index(["Country","year"]).sort_index()

In [ ]:
df_sample

                        pop
Country   year
Argentina 2015 43,131,966.0
          2016 43,590,368.0
          2017 44,044,811.0
          2018 44,494,502.0
Chile     2015 17,969,353.0
          2016 18,209,068.0
          2017 18,470,439.0
          2018 18,729,160.0

accediendo a los indices:

In [24]:
df_sample.xs(["Chile","2016"])

<ipython-input-24-447f6b9e21e9>:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df_sample.xs(["Chile","2016"])

pop   18,209,068.0
Name: (Chile, 2016), dtype: float64

In [25]:
df_sample.loc["Chile",:]

              pop
year
2015 17,969,353.0
2016 18,209,068.0
2017 18,470,439.0
2018 18,729,160.0

aplicando a todo el data set pero en otra variable y haciendo sort

In [27]:
df_countries = df.set_index(["Country","year"]).sort_index(ascending=[True,True])
df_countries

                          pop
Country     year
Afghanistan 2015 34,413,603.0
            2016 35,383,128.0
            2017 36,296,400.0
            2018 37,172,386.0
Albania     2015  2,880,703.0
...                       ...
Zambia      2018 17,351,822.0
Zimbabwe    2015 13,814,629.0
            2016 14,030,390.0
            2017 14,236,745.0
            2018 14,439,018.0

[1040 rows x 1 columns]

accediendo a trozos del df

In [28]:
ids = pd.IndexSlice
df_countries.loc[ids['Aruba':'Austria','2015':'2017'],:].sort_index()

                        pop
Country   year
Aruba     2015    104,341.0
          2016    104,872.0
          2017    105,366.0
Australia 2015 23,815,995.0
          2016 24,190,907.0
          2017 24,601,860.0
Austria   2015  8,642,699.0
          2016  8,736,668.0
          2017  8,797,566.0

accediendo solo a un indice del df 0 countries 1 aÃ±os

In [29]:
df_countries.index.get_level_values(0)

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania',
       'Albania', 'Albania', 'Albania', 'Algeria', 'Algeria',
       ...
       'Yemen, Rep.', 'Yemen, Rep.', 'Zambia', 'Zambia', 'Zambia', 'Zambia',
       'Zimbabwe', 'Zimbabwe', 'Zimbabwe', 'Zimbabwe'],
      dtype='object', name='Country', length=1040)

jugando con pivot y unpivot

In [30]:
df_sample.unstack('year')

                   pop
year              2015         2016         2017         2018
Country
Argentina 43,131,966.0 43,590,368.0 44,044,811.0 44,494,502.0
Chile     17,969,353.0 18,209,068.0 18,470,439.0 18,729,160.0

In [ ]:
df_sample.unstack('Country')

                 pop
Country    Argentina        Chile
year
2015    43,131,966.0 17,969,353.0
2016    43,590,368.0 18,209,068.0
2017    44,044,811.0 18,470,439.0
2018    44,494,502.0 18,729,160.0

In [31]:
df_countries.to_excel("Paisestrabajados.xlsx")

In [32]:
df.groupby(['Country', 'year'])

In [ ]:
df.groupby(['Country', 'year'])
df

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]