In [33]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./archivos/london_merged.csv")

In [3]:
df["timestamp"] = pd.to_datetime(
    df["timestamp"]
)

In [4]:
df.drop(["timstamp"], axis = 1, inplace=True)

KeyError: "['timstamp'] not found in axis"

In [6]:
df.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
dtype: object

In [34]:
df = pd.read_csv('./archivos/poblacion.csv')
df

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

redimensionar (unpivot) dataframe

In [14]:
df = df.drop(columns=["Country Code","Indicator Name","Indicator Code","2019"])

df = pd.melt(df, id_vars=["Country Name"],
var_name="year", value_name="pob")

df

                      Country Name         year          pob
0                            Aruba         1960      54208.0
1      Africa Eastern and Southern         1960  130836765.0
2                      Afghanistan         1960    8996967.0
3       Africa Western and Central         1960   96396419.0
4                           Angola         1960    5454938.0
...                            ...          ...          ...
16221                       Kosovo  Unnamed: 65          NaN
16222                  Yemen, Rep.  Unnamed: 65          NaN
16223                 South Africa  Unnamed: 65          NaN
16224                       Zambia  Unnamed: 65          NaN
16225                     Zimbabwe  Unnamed: 65          NaN

[16226 rows x 3 columns]

quitar formato de notación cientifca

In [36]:
pd.options.display.float_format = '{:,.1f}'.format

Transformando columhna en categorica

In [37]:
df["year"] = pd.Categorical(df["year"].apply(str))

In [38]:
df["year"]

0       2015
1       2015
2       2015
3       2015
4       2015
        ...
1035    2018
1036    2018
1037    2018
1038    2018
1039    2018
Name: year, Length: 1040, dtype: category
Categories (4, object): ['2015', '2016', '2017', '2018']

In [39]:
df.dtypes

Country      object
year       category
pop         float64
dtype: object

In [40]:
df

                       Country  year             pop
0                  Afghanistan  2015    34,413,603.0
1                      Albania  2015     2,880,703.0
2                      Algeria  2015    39,728,025.0
3               American Samoa  2015        55,812.0
4                      Andorra  2015        78,011.0
...                        ...   ...             ...
1035  Pre-demographic dividend  2018   919,485,393.0
1036              Small states  2018    40,575,321.0
1037                South Asia  2018 1,814,388,744.0
1038   South Asia (IDA & IBRD)  2018 1,814,388,744.0
1039        Sub-Saharan Africa  2018 1,078,306,520.0

[1040 rows x 3 columns]

creando un filtro

In [47]:
filter = df["Country"].isin(["Chile", "Argentina"])

aplicando filtro

In [48]:
df_sample = df[filter]
df_sample

       Country  year          pop
7    Argentina  2015 43,131,966.0
40       Chile  2015 17,969,353.0
267  Argentina  2016 43,590,368.0
300      Chile  2016 18,209,068.0
527  Argentina  2017 44,044,811.0
560      Chile  2017 18,470,439.0
787  Argentina  2018 44,494,502.0
820      Chile  2018 18,729,160.0

Creando doble indice:

In [52]:
df_sample= df_sample.set_index(["Country","year"]).sort_index()

In [53]:
df_sample

                        pop
Country   year
Argentina 2015 43,131,966.0
          2016 43,590,368.0
          2017 44,044,811.0
          2018 44,494,502.0
Chile     2015 17,969,353.0
          2016 18,209,068.0
          2017 18,470,439.0
          2018 18,729,160.0